:root {
    --codeFont: 'Roboto Mono', monospace;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    font-family: Verdana, san-serif;
    max-width: 1200px;
    margin: auto;
    line-height: 1.5rem;
}

header .logo {
    height: 30px;
}
