{{ define "main" }}
{{ "<!-- layouts/_default/document.html:main-->" | safeHTML }}

{{- $mainClass := "" -}}
{{- $hero := .Resources.GetMatch "hero.*" -}}

{{- if $hero -}}
    {{- $mainClass = "prep-overlap" -}}
{{- end -}}

<section class="color-contrast">
    <div class="content centered {{ $mainClass }}">
      <h1>{{.Title}}</h1>
    </div>
</section>

<section>
    {{ with $hero }}
    <div class="content document overlap">
    {{- $image := $hero.Resize "x300" -}}
    <img class="hero" src="{{ $image.RelPermalink }}" alt="{{ $.Title }}">
    {{ else }}
    <div class="content document">
    {{ end }}
    {{.Content}}
    </div>
</section>

{{ end }}
