{{ define "extra-head" }}
{{ "<!-- layouts/_default/list.html:extra-head-->" | safeHTML }}
<script type="module" src="/scripts/reskill.js"></script>
{{ end }}

{{ define "main" }}
{{ "<!-- layouts/_default/list.html:main-->" | safeHTML }}
<section><main>
<main class="centered">
  <h1>{{.Title}}</h1>
  {{.Content}}
</main>
<main>
  <ul class="summary">
  <!-- Ranges through content/posts/*.md -->
  {{ range .Pages.ByDate.Reverse }}
    {{ .Render "summary" }}
  {{ end }}
  </ul>
</main></section>
{{ end }}
