{{ "<!-- layouts/_default/summary.html -->" | safeHTML }}
<li>
  <a class="img" href="{{ .RelPermalink }}">
    <!-- profile before thumbnail - alphabetical! -->
    {{ with index (.Resources.ByType "image") 0 }}
      {{ $image := .Resize "300x" }}
      <img  alt="{{ $.Title }}" src="{{ $image.RelPermalink }}">
      {{ else }}
        {{ $image := ((resources.Get "images/news-default.jpg").Resize "300x") }}
        <img alt="Laptop on a desk." src="{{ $image.RelPermalink }}">
    {{ end }}
  </a>
  <div>
    {{ partial "tag-list" .Params.tags }}
    <a href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
    <div>
      {{ .Summary }}
    </div>
    <div class="summary-footer">
      <a class="read-more" href="{{ .RelPermalink }}">Read More</a>
      <span>{{ .Date.Format "Jan 2, 2006" }}</span>
    </div>
  </div>
</li>
