@mixin hover-zoom {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

@mixin popout {
  transition: transform 0.2s ease-in-out;
  transform: translateX(100%);
  &[data-popout="true"] {
    transform: translateX(0%);
  }
}

:root {
  --codeFont: 'Roboto Mono', monospace;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  font-family: 'Open Sans', san-serif;
  max-width: 1200px;
  margin: auto;
  line-height: 1.5em;

  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .logo {
    @include hover-zoom;

    height: 30px;
    padding-right: 2rem;
  }

  #menu-toggle {
    @media (max-width: 750px) {
      display: block;
    }

    &:hover {
      cursor: pointer;
    }

    display: none;
    z-index: 100;
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 2em;
    aspect-ratio: 1;
    border: 0;
    background: url("/images/icon-hamburger.svg");
    background-size: cover;
    &[data-popout="true"] {
      background: url("/images/icon-close.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  nav {
    ul {
      @media (max-width: 750px) {
        @include popout;

        position:fixed;
        z-index: 90;
        inset: 0 0 0 30%;
        background-color: hsla(0, 0%, 0%, 0.1);
        backdrop-filter: blur(15px);
        flex-direction: column;
        justify-content: start;
        padding: 4rem 2rem;
      }

      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-content: center;

      a {
        @include hover-zoom;

        display: inline-block;
        backface-visibility: hidden;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }
}
