{{ define "main" }}
{{ "<!-- layouts/news/single.html:main-->" | safeHTML }}
<section class="color-contrast">
  <div class="content news-header centered prep-overlap">
    {{ partial "tag-list" .Params.tags}}
    <h2>{{ .Title }}</h2>
  </div>
</section>
<section>
  <div class="content news overlap">
  <!-- Use the alphabetically first image found in the folder -->
  {{ with index (.Resources.ByType "image") 0 }}
    {{ $image := .Resize "x300" }}
    <img src="{{ $image.RelPermalink }}" alt="{{ $.Title }}">
    {{ else }}
      {{ $image := ((resources.Get "images/news-default.jpg").Resize "x300") }}
      <img src="{{ $image.RelPermalink }}">
  {{ end }}
  {{.Content}}
  </div>
</section>
{{ end }}
