{{ define "main" }}
{{ "<!-- layouts/news/single.html:main-->" | safeHTML }}
<section class="color-contrast">
  <main class="news-header centered prep-overlap">
    {{ partial "tag-list" .Params.tags}}
    <h2>{{ .Title }}</h2>
  </main>
</section>
<section>
  <main class="news overlap">
  {{ with index (.Resources.ByType "image") 0 }}
    {{ $image := .Resize "x300" }}
    <img src="{{ $image.RelPermalink }}" alt="{{ $.Title }}">
    {{ else }}
      {{ $image := ((resources.Get "images/news-default.jpg").Resize "x300") }}
      <img src="{{ $image.RelPermalink }}">
  {{ end }}
  {{.Content}}
  </main>
</section>
{{ end }}
