<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
    {{ "<!--" | safeHTML }}
        ra-theme/layouts/baseof.html
        kind: {{ .Kind | safeHTML }}
        url: {{ .Permalink | safeHTML }}
        file-path: {{- with .File }} {{ .Path | safeHTML }} {{ end }}
    {{ "-->" | safeHTML }}
<head>
{{ partial "head.html" . }}
{{ partial "extra-head" . }}
</head>
<body>
<section class="header">
    {{ partial "header.html" . }}
</section>
{{- block "main" . }}{{- end }}
<section class="footer">
    {{- partial "footer.html" . -}}
</section>
{{ partial "process.html" . }}
</body>
</html>
