<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}language="{{ . }}"{{ end }}>
    {{ "<!--" | safeHTML }}
        ra-theme/layouts/baseof.html
        kind: {{ .Kind | safeHTML }}
        url: {{ .Permalink | safeHTML }}
        file-path: {{- with .File }} {{ .Path | safeHTML }} {{ end }}
    {{ "-->" | safeHTML }}
<head>
    {{ partial "head.html" . }}
    {{ block "extra-head" . }}{{ end }}
</head>
<body>
    <section class="header">
        {{ partial "header.html" . }}
    </section>
    {{- block "main" . }}{{- end }}
    <section class="footer">
        {{- partial "footer.html" . -}}
    </section>
</body>
<!-- Dyanimic page processors loaded as ES-modules when [[process]]
    present in front matter. -->
${{ $processors := .Params.process }}
{{ if $processors }}
    {{ warnf "Processors: %s" (jsonify $processors) }}
    <!-- Load modules using name - they will register themselves -->
    {{ range $processors }}
        <script type=module src="/scripts/{{ .name }}.js"></script>
    {{ end }}

    <script type="module">
        import { runProcessors } from "/scripts/process.js";
        runProcessors({{ $processors | jsonify | safeJS }});
    </script>
{{ end }}
{{ .Title }}
</html>
