{{- $path := (print "images/" (.Get "src")) -}}
{{- $altText := (print "") -}}
{{- with $.Get "alt" -}}
  {{- $altText = (printf "alt=\"%s\" " . | safeHTMLAttr ) -}}
{{- else -}}
  {{- warnf "Missing alt attribute for image %s in %s" $path .Page.File -}}
{{- end -}}

{{- with (resources.Get $path) -}}
<figure>
  {{- if $.Get "resize" -}}
    {{- $image := .Resize ($.Get "resize") -}}
    <img {{ $altText }}{{ with $.Get "class" }}class="{{.}}" {{ end -}} src="{{ $image.Permalink }}">
  {{- else -}}
    <img {{ $altText }}{{ with $.Get "class" }}class="{{.}}" {{ end -}} src="{{ .Permalink }}">
  {{- end -}}
  {{- if $.Get "caption" -}}
    <figcaption>{{ $.Get "caption" }}</figcaption>
  {{- end -}}
</figure>

{{- else -}}

  {{- warnf "Unable to find image: %s" $path -}}

{{- end }}
