<div class="image-box">
{{- $path := (print "images/" (.Get "src")) -}}

{{- $altText := (print "") -}}
{{- with $.Get "alt" -}}
  {{- $altText = (printf "alt=\"%s\" " . | safeHTMLAttr ) -}}
{{- else -}}
  {{- warnf "Missing alt attribute for image %s in %s" $path .Page.File -}}
{{- end -}}

{{- if .Get "src" -}}
  <div class="image-wrapper">
  {{- with (resources.Get $path) -}}
    {{- $image := .Resize "400x" -}}
      <img {{ $altText }} src="{{ $image.Permalink }}">
  {{- else -}}
    {{- warnf "Unable to find image: %s" $path -}}
  {{- end -}}
  </div>
{{- end }}

  <div>
    {{ .Inner }}
  </div>

</div>
