<!-- Mailchimp Signup Form -->
<section class="centered color-contrast">
  <div class="content mailing-list">
    <h2>Join our Mailing List</h2>
    <form
      action="https://reskillamericans.us7.list-manage.com/subscribe/post?u=e275039f79d674f29f0ab6f3b&amp;id=df5e7498de"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      target="_blank"
      novalidate>

      <input type="email" value="" name="EMAIL">

      <!-- Supporters mailing list -->
      <input type="hidden" name="group[82291]" value="4">

      <!-- real people should not fill this in and expect good things - do not
          remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_e275039f79d674f29f0ab6f3b_df5e7498de" tabindex="-1" value="">
      </div>

      <input type="submit" value="Subscribe" name="subscribe">
    </form>

  </div>
</section>
