<label><input name="minority" type="radio" value="native-american">American Indian or Alaska Native</label>
<label><input name="minority" type="radio" value="black">Black (not of Hispanic Origin)</label>
<label><input name="minority" type="radio" value="hispanic">Hispanic (including persons of Mexican, Puerto Rican, Cuban, and Central or South American Origin)</label>
<label><input name="minority" type="radio" value="pacific-islander">Pacific Islander</label>
<label><input name="minority" type="radio" value="southeast-asian">Southeast Asian</label>
<label><input name="minority" type="radio" value="disabled">Disabled (as defined under the American Disabilities Act)</label>
<label><input name="minority" type="radio" value="other">Other:</label>
       <input class="other" name="minority-other" type="text">
