<div id="phase-tabs" class="tabbed">

{{ $phases := sort $.Page.Pages "Params.order" }}

{{ $checked := "checked" }}
<div class="menu">
{{- range $phases -}}
  {{- $name := .File.BaseFileName -}}
  <input type="radio" id="{{ $name }}" name="phases" {{ $checked }}>
  <label for="{{ $name }}">{{ .Title }}</label>
  {{ $checked = "" }}
{{- end -}}
</div>

<div class="content">
{{- range $phases -}}
  {{- $name := .File.BaseFileName -}}
  <div data-tab="{{ $name }}" data-tab-active="false">
    {{- .Content -}}
  </div>
{{- end -}}
</div>

</div>

<script type="module">
  import { Tabs } from '/scripts/tabs.js';

  const tabs = new Tabs(document.getElementById('phase-tabs'));
</script>
