{{ "<!-- shortcode: " | safeHTML }}{{ .Name }}{{ " -->" | safeHTML }}

{{- $sectionClass := "" -}}
{{- $sepSection := "" -}}

{{ $mainClass := "" }}
{{ $sepMain := "" }}

{{- range .Params }}
  {{ if or (eq . "centered") (eq . "prep-overlap") }}
    {{ $mainClass = (print $mainClass $sepMain . ) }}
    {{ $sepMain = " " }}
  {{ end }}

  {{ if eq . "contrast" }}
    {{ $sectionClass = (print $sectionClass $sepSection "contrast") }}
    {{ $sepSection = " " }}
  {{ end }}

{{ end -}}

<section {{ with $sectionClass }}class="{{ . }}"{{ end }}>
  <main {{ with $mainClass }}class="{{ . }}"{{ end }}>
    {{ .Inner }}
  </main>
</section>
