{{ "<!-- shortcode: " | safeHTML }}{{ .Name }}{{ " -->" | safeHTML }}

{{ $whereUsed := .Position }}

{{ with .Parent }}
  {{ if eq .Name "section" }}
    {{ warnf "Close section before starting a new section : %s" $whereUsed }}
  {{ end }}
{{ end }}

{{- $sectionClass := "" -}}
{{- $sepSection := "" -}}

{{ $mainClass := "" }}
{{ $sepMain := "" }}

{{- range .Params }}
  {{ if eq . "centered" "wrapped-boxes" "prep-overlap" "overlap" "side-by-side" }}
    {{ $mainClass = (print $mainClass $sepMain . ) }}
    {{ $sepMain = " " }}
  {{ else if eq . "contrast" }}
    {{ $sectionClass = (print $sectionClass $sepSection "contrast") }}
    {{ $sepSection = " " }}
  {{ else }}
    {{ warnf "Section code: %s is not recognized at %s" . $whereUsed }}
  {{ end }}

{{ end -}}

<section {{ with $sectionClass }}class="{{ . }}"{{ end }}>
  <main {{ with $mainClass }}class="{{ . }}"{{ end }}>
    {{ .Inner }}
  </main>
</section>
