{{ "<!-- shortcode-start: " | safeHTML }}{{ .Name }}{{ " -->" | safeHTML }}

{{- $whereUsed := .Position }}

{{- with .Parent }}
  {{- if eq .Name "section" }}
    {{- warnf "Close section before starting a new section : %s" $whereUsed }}
  {{- end }}
{{- end }}

{{- $sectionClass := "" }}
{{- $sepSection := "" }}

{{- $mainClass := "" }}
{{- $sepMain := "" }}

{{- range .Params }}
  {{- if eq . "centered" "wrapped-boxes" "team-boxes" "prep-overlap" "overlap"
      "side-by-side" "light-box"}}
    {{- $mainClass = (print $mainClass $sepMain . ) }}
    {{- $sepMain = " " }}
  {{- else if eq . "contrast" "light-background" "color-contrast" }}
    {{- $sectionClass = (print $sectionClass $sepSection . ) }}
    {{- $sepSection = " " }}
  {{- else }}
    {{- warnf "Section code: %s is not recognized at %s" . $whereUsed }}
  {{- end }}

{{- end -}}

<section {{ with $sectionClass }}class="{{ . }}"{{ end }}>
  <div {{ with $mainClass }}class="content {{ . }}"{{ else }}class="content"{{ end }}>
    {{- .Inner }}
  </div>
</section>
{{ "<!-- shortcode-end: " | safeHTML }}{{ .Name }}{{ " -->" | safeHTML }}
