<div id="sign-in-block">
  <div class="signed-out">
    <h3>Sign In to Reskill Americans</h3>
    <img id="linkedin-button" src="/images/signin-linkedin.png" alt="Sign in with LinkedIn">
    <p><em>Reskill Americans uses LinkedIn as our primary identity provider.</em></p>
    <p>If you don’t yet have a LinkedIn account, you can <a href="https://www.linkedin.com/signup" target="_blank">sign
        up here</a>.</p>
  </div>
  <div class="signed-in">
    <h3>Signed in with LinkedIn</h3>
    <div class="box">
      <div>
          <p>Name: <span id="signed-in-name"></span></p>
          <p>Email: <span id="signed-in-email"></span></p>
      </div>
      <a id="sign-out" href="#">Sign out</a>
    </div>
  </div>
</div>
