{{ define "main" }}
{{ "<!-- layouts/about/single.html:main-->" | safeHTML }}
<section class="contrast">
  <main class="centered">
    <h1>{{ .Title }}</h1>
  </main>
</section>

<section>
    <main class="team-member">
      <div>
        {{ with .Resources.GetMatch "profile.jpg" }}
          {{ $image := .Resize "800x" }}
          <img src="{{ $image.Permalink }}" alt="{{ $.Name }}">
        {{ end }}
        {{ partial "social-links" .Params }}
      </div>
      <div>
        <h2>{{ .Name }}</h2>
        <h3>{{ .Params.jobTitle }}</h3>
        {{ .Content }}
      </div>
    </main>
</section>
{{ end }}
