div.carousell {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;

  & > div:first-child {
    display: flex;
    gap: 1rem;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;

    & > * {
      flex-shrink: 0;
    }
  }
}

div.directional {
  @include hover-zoom(1.2);
  background-color: white;
  border-radius: 25px;
  opacity: 0.4;
  position: absolute;
  z-index: 1000;
  width: 50px;
  aspect-ratio: 1;
  top: calc(50% - 25px);

  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;
  filter: invert(100%);

  &.left {
    left: 5px;
    background-image: url(/images/angle-left.svg);
  }

  &.right {
    right: 5px;
    background-image: url(/images/angle-right.svg);
  }
}
