$header-color: white;
$header-text-color: #222;

$main-color: #fafafa;
$main-heading-color: #0a0a0a;
$main-text-color: #676767;

$standout-color: #e6281a;
$standout-text-color: #fff;

$alternate-standout-color: #555ec1;

$button-color: white;
$button-border-color: #0a0a0a;
$button-text-color: #0a0a0a;
$button-hover-color: black;
$button-hover-border-color: #ccc;

$contrast-color: #131c2c;
$color-contrast-color: #3C64B1;
$contrast-heading-color: white;
$contrast-text-color:#ececec;

$light-background-color: #EBF5FB;

$footer-color: #131c2c;
$footer-text-color:#ececec;

$selected-tab-color: #3c64b1;
$selected-tab-text-color: white;
$deselected-tab-color: white;
$deselected-tab-text-color: #0a0a0a;

$emphatic-color: #cc4747;
$link-color: #cc4747;

$code-background-color: #eee;
