div.countdown {
    display: flex;
    justify-content: center;
    gap: 1rem;

    div {
        position: relative;
        width: 7rem;
        height: 5rem;
        margin: 0;
        border-radius: 4px;
        margin: 0;
        background-color: $alternate-standout-color;
        color: white;

        @media (max-width: $narrow-width) {
            width: 5rem;
            height: 4rem;
        }

        p:first-child {
            box-sizing: border-box;
            position: absolute;
            font-size: 36px;
            margin: 0;
            top: 0;
            width: 100%;

            line-height: 4rem;

            @media (max-width: $narrow-width) {
                font-size: 18px;
                line-height: 3rem;
            }
        }

        p:nth-child(2) {
            position: absolute;
            font-size: 12px;
            line-height: 1em;
            margin: 0;
            bottom: 12px;
            width: 100%;
        }
    }
}

div.countdown-date {
    margin-top: 1rem;
    color: grey;
    font-size: 1rem;
}
