div.countdown {
    display: flex;
    justify-content: center;
    gap: 1rem;

    div {
        position: relative;
        width: 7rem;
        height: 5rem;
        margin: 0;
        border-radius: 4px;
        padding: 0;
        margin: 0;
        background-color: $alternate-standout-color;
        color: white;

        p:first-child {
            position: absolute;
            font-size: 3rem;
            margin: 0;
            top: 0;
            width: 100%;
            height: 100%;

            line-height: 4rem;
        }

        p:nth-child(2) {
            font-size: 12px;
            line-height: 1em;
            position: absolute;
            margin: 0;
            bottom: 6px;
            width: 100%;
        }
    }
}

div.countdown-date {
    margin-top: 1rem;
    color: grey;
    font-size: 1rem;
}
