footer {
  @include content(4rem 2rem);

  display: flex;
  justify-content: space-between;
  background-color: $footer-color;
  color: $footer-text-color;

  @media (max-width: $break-width) {
    flex-direction: column;
    gap: 2rem;
  }

  .tagline {
    padding-block: 1rem;
  }

  .logo {
    @include hover-zoom;
    height: 50px;
  }
}

.footer-links {
  display: flex;
  gap: 2rem;
  padding-right: 4rem;

  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: baseline;
  }

  a {
    @include hover-zoom(1.2);
    color: $footer-text-color;
    text-decoration: none;
    white-space: nowrap;
  }
}
