// What to use @use directive instead - but not working in Hugo 0.89 extended
@import "breakpoints";
@import "colors";
@import "mixins";
@import "header";
@import "footer";
@import "quote-box";
@import "team-member";
@import "countdown";
@import "tabs";
@import "video";
@import "carousel";
@import "summary";
@import "news";
@import "accordian";
@import "metric";

:root {
  --codeFont: 'Roboto Mono', monospace;
}

body {
  font-family: 'Open Sans', san-serif;
  min-width: $min-width;
  margin: 0;
  padding: 0;
  background-color: $main-color;

  overflow-x: hidden;
}

// Sections are full-bleed across the page and for background for content elements.
// Page structure is a sequence of sections down the page.  With each section
// there is a content block (either header, main, or footer) that defines how
// wide it will be on the page.
section {
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: transparent;
  color: $main-text-color;
  @include all-headings {
    color: $main-heading-color
  }

  &.header {
    background-color: $header-color;
    color: $header-text-color;
  }

  &.contrast {
    background-color: $contrast-color;
    color: $contrast-text-color;
    font-weight: 300;
    @include all-headings {
      color: $contrast-heading-color
    }
  }

  &.light-background {
    background-color: $light-background-color;
  }

  &.color-contrast {
    background-color: $color-contrast-color;
    color: $contrast-text-color;
    font-weight: 300;
    @include all-headings {
      color: $contrast-heading-color
    }
  }

  &.footer {
    background-color: $footer-color;
    color: $footer-text-color;

    .social-links img {
      filter: invert(100%);
    }
  }
}

// These are the content-holding blocks in each section of the page.
main {
  @include content(1rem 2rem);

  @media (max-width: $break-width) {
    padding-inline: 1rem;
  }

  font-size: 20px;
  line-height: 1.5em;

  @media (max-width: $break-width) {
    font-size: 16px;
    line-height: 1.2em;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;

    @media (max-width: $break-width) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  em strong {
    color: $emphatic-color;
    font-weight: bold;
  }

  span.footnote-mark {
    font-size: 0.8em;
    vertical-align: super;
    font-weight: bold;
  }

  .footnote {
    font-size: 0.8em;
    line-height: 1.2em;
    font-style: italic;
    padding-left: 1em;
    text-indent: -1em;
  }

  // Top-level images should be in figure's with captions.
  // See esp hero images.
  > figure {
    margin: 0;

    img {
      box-sizing: border-box;
      width: 100%;
      padding: 0;

      &.hero {
        aspect-ratio: 2 / 1;
        object-fit: cover;
        object-position: 50% 75%;
        border-radius: 6px;
      }

      &.hero.high {
        object-position: center 25%;
      }
    }

    // Caption for image
    figcaption {
      font-size: 12px;
      font-style: italic;
      line-height: 1em;
    }
  }

  &.centered {
    padding-inline: 4rem;
    text-align: center;

    @media (max-width: $break-width) {
      padding-inline: 1rem;
    }

    li {
      text-align: left;
    }
  }

  &.team-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    > div {
      @include floating-shadow;
      @include hover-zoom(1.1);
      border-radius: 5px;
      min-height: 150px;
      background-color: white;
    }
  }

  &.light-box {
    background-color: $main-color;
    width: 80%;
  }

  // Allow for overlapping section after this one.
  &.prep-overlap {
    padding-bottom: 10rem;
  }

  &.overlap {
    margin-top: -10rem;
    background-color: transparent;
  }

  &.document {
    max-width: 800px;
    font-size: 16px;
    line-height: 1.4em;

    hr {
      // border: none;
      border-top: 3px solid $color-contrast-color;
      margin: 1em 0;
    }

    img.hero {
      @include floating-shadow;
      display: block;
      max-width: 50%;
      aspect-ratio: unset;
      // aspect-ratio: 4/3;
      // object-fit: contain;
      margin: auto;

      @media (max-width: $break-width) {
        max-width: 80%;
      }
    }
  }
}

.social-links {
  display: flex;
  gap: 1rem;
  justify-content: start;

  img {
    @include hover-zoom(1.8);
    height: 24px;
    aspect-ratio: 1;
  }
}

div.list {
  max-width: 600px;
  margin: 0 auto;
  font-weight: 300;
}

div.image-box {
  border-radius: 8px;
  min-width: 250px;
  min-height: 150px;
  background-color: white;
  font-size: 16px;
  line-height: 1.5em;

  @include all-headings {
    margin-top: 0;
    text-align: center;
  }

  div.image-wrapper {
    padding: 0;
    // Hack: Set to match images being used on the RA site.
    background-color: #f7f7f8;
    border-radius: 8px 8px 0 0;
  }

  img {
    display: block;
    width: 100%;
    padding: 0;
    border-radius: 8px 8px 0 0;
    max-width: 400px;
    margin: auto;
  }

  p {
    text-align: justify;
  }

  div {
    padding: 1rem;
  }
}

.wrapped-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;

  > div {
    @include floating-shadow;
    max-width: 45%;
    // max-width: 400px;

    @media (max-width: $break-width) {
      max-width: 80%;
    }
  }
}

.side-by-side {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  @media (max-width: $break-width) {
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
  }

  > * {
    align-self: center;
  }

  > div {
    font-size: 18px;
    line-height: 1.5em;
    max-width: calc(#{$max-width}/2);
  }
}
