div.news-header {
  div.tag-list {
    margin-top: 1rem;
    > a {
      font-weight: 400;
      font-style: italic;
      color: $contrast-text-color;
      text-decoration: none;
    }

    &:before {
      content: '[ ';
    }

    &:after {
      content: ' ]';
    }
  }
}

div.news {
  max-width: 800px;

  img {
    @include floating-shadow;
    display: block;
    max-height: 300px;
    max-width: 100%;
    width: unset;
    // aspect-ratio: 4/3;
    // object-fit: contain;
    margin: auto;
  }

  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      @include floating-shadow;
      @include hover-zoom;
      height: 100px;
      object-fit: cover;
      margin: 0.5rem;
    }
  }
}