div.quote-box {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;

  color: $contrast-color;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;

  width: 100%;

  @media (max-width: $narrow-width) {
    font-size: 1rem;
  }

  // Profile picture on the left side.
  > img {
    max-width: 80%;
    box-sizing: border-box;
    border-radius: 1rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top center;
    padding: 0;
    margin: 0;
  }

  // Quote paragraphs down the right side - ending in signature at bottom.
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 2rem;
    border-block: 1px solid $color-contrast-color;
    max-width: 600px;

    > p {
      margin: 0;
    }
  }

  // The quote text body.
  p:first-child {
    margin-bottom: 2rem;
  }

  p.name {
    font-weight: bold;
    color: $color-contrast-color;
    padding-top: 1rem;
  }

  p.location {
    font-weight: bold;
  }
}
