div.quote-box {
  display: flex;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
  border-radius: 6px;

  color: $contrast-color;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.5em;

  padding: 1rem 2rem;
  width: 100%;

  @media (max-width: $break-width) {
    flex-direction: column;
    gap: 2rem;
    font-size: 16px;
    width: 80%;
  }

  // Profile picture on the left side.
  > img {
    flex-grow: 1;
    flex-basis: 30%;
    width: 80%;
    box-sizing: border-box;
    border-radius: 1rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top center;
    padding: 0;
    margin: 0;
  }

  // Quote paragraphs down the right side - ending in signature at bottom.
  > div {
    flex-grow: 1;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 2rem;
    border-block: 1px solid $color-contrast-color;

    > p {
      margin: 0;
    }

    @media (max-width: $break-width) {
      justify-content: flex-start;
    }
  }

  // The quuote text body.
  p:first-child {
    margin-bottom: 2rem;
  }

  p.name {
    font-weight: bold;
    color: $color-contrast-color;
  }

  p.location {
    font-weight: bold;
  }
}
