div.quote-box {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: initial;
  column-gap: 2rem;
  align-items: stretch;
  overflow: hidden;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.3em;
  padding: 2rem 2rem;
  width: 600px;
  height: 100%;
  @media (max-width: $break-width) {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: initial;
    column-gap: 1rem;
    align-items: stretch;
    overflow: hidden;
    border-radius: 6px;
    font-size: 12px;
    line-height: 1.3em;
    padding: 2rem 2rem;
    width: 300px;
    height: 100%;
  }
  // Alternate accent color.
  &:nth-child(odd) {
    background-color: $standout-color;
    color: $standout-text-color;
  }

  &:nth-child(even) {
    background-color: $alternate-standout-color;
    color: $standout-text-color;
  }

  // Profile picture on the left side.
  > img {
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    padding: 0;
    margin: 0;
    @media (max-width: $break-width) {
      box-sizing: border-box;
      height: 184px;
      width: 100%;
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
    }
  }

  // Quote paragraphs down the right side - ending in signature at bottom.
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  > div > p:first-child {
    margin-top: 0;
  }

  > div > p:last-child {
    font-weight: bold;
    margin-bottom: 0;
  }
}

