#sign-in-block {
  border-block: 3px solid $color-contrast-color;

  h3 {
    margin-top: 0;
  }

  div.signed-in {
    padding: 0.5rem;

    div.box {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;


      p {
        margin: 0;
        padding-left: 1rem;
      }
    }

    a {
      @include hover-zoom;
      text-decoration: none;
    }
  }

  div.signed-out {
    padding: 1rem;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

// These classes can be used for any conditional display of an element
// depending on the signed-in status of the user.
body[data-signed-in="true"] .signed-out {
  display: none;
}

body[data-signed-in="false"] .signed-in {
  display: none;
}
