$summary-break: 600px;

ul.summary {
  margin: 1rem auto;
  padding: 0;
  max-width: $max-summary-width;

  > li {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #f4f4f5;

    @media (max-width: $summary-break) {
      flex-direction: column;

      a.img {
        margin: auto;
      }
    }

    a {
      text-decoration: none;

      h2:hover {
        color: $link-color !important;
      }
    }

    img {
      width: 300px;
      max-height: 300px;
      object-fit: cover;
      aspect-ratio: 4/3;

      @media (max-width: $summary-break) {
        width: 100%;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      font-size: 18px;
      line-height: 1.2em;
      text-align: justify;

      @media (max-width: $summary-break) {
        text-align: left !important;
      }

      div.tag-list {
        margin-bottom: 0.5em;

        > a {
          font-weight: 400;
          color: $main-text-color;
          font-size: 16px;
        }
      }

      h2 {
        font-size: 30px;
        margin-top: 0;
        text-align: left;
        line-height: 1.2em;
      }

      div.summary-footer {
        display: flex;
        font-size: 16px;
        justify-content: space-between;
        margin-top: auto;
        padding-top: 0.5em;

        span {
          font-size: 0.9em;
        }
      }
    }
  }
}
