// For embedded YouTube videos
div.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

$imageSize: 100px;
$cardWidth: 400px;

// For video "cards"
div.video-card {
  @include floating-shadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: white;
  border-radius: 6px;
  padding: 1rem;
  // Don't clip image even when hover-zooming
  margin-top: calc((#{$imageSize} / 2) * 1.2);

  width: $cardWidth;
  aspect-ratio: 16/9;

  img {
    @include hover-zoom;
    @include floating-shadow;
    position: absolute;
    border-radius: calc(#{$imageSize} / 2);
    top: calc(-#{$imageSize} / 2);
    left: calc(#{$cardWidth} / 2 - #{$imageSize} / 2);
    width: $imageSize;
    aspect-ratio: 1;
    object-fit: cover;
  }

  div.quote {
    text-align: center;
    font-size: 14px;
    line-height: 1.2em;
    font-style: italic;
  }

  hr {
    padding: 0;
    margin: 0.7rem auto;
    width: 300px;
    border-top: none;
    border-bottom: 1px solid #ccc;
  }

  div.name {
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  div.title {
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: $emphatic-color;
    margin: 0;
  }
}

div.outline-box {
  box-sizing: border-box;
  border: 20px solid red;
  max-width: 650px;
  margin: auto;

  @media (max-width: $break-width) {
    max-width: 100%;
    border-width: 7px;
  }
}