{{- "<!-- layouts/videos/card.html:-->" | safeHTML -}}
<div class="video-card">
  {{ $file := "none" }}
  {{- with .Resources.GetMatch "profile.*" -}}
    {{ $file = . }}
  {{ else }}
    {{- with .Resources.GetMatch "thumbnail.*" -}}
      {{ $file = . }}
    {{ end }}
  {{ end }}

  {{ if not (eq $file "none") }}
    {{- $image := $file.Resize "400x" -}}
      <a href="https://youtu.be/{{ $.Params.videoId }}" target="_blank">
        <img src="{{ $image.Permalink }}" alt="{{ $.Title }}">
      </a>
  {{- else -}}
    {{ warnf "No thumbnail found for video-card %s" .Title }}
  {{- end -}}

  {{- with .Params.quote -}}
    <div class="quote">{{ . }}</div>
  {{ else }}
    <div class="quote">
      {{- .Date.Format "January 2, 2006" -}}
    </div>
  {{- end -}}

  <hr>

  {{- with .Params.guest -}}
    <div class="name">{{ . }}</div>
  {{- else -}}
    <div class="name">Reskill Americans</div>
  {{- end -}}

  {{- with .Params.guestTitle -}}
    <div class="title">{{ . }}</div>
  {{- end -}}

</div>
