{{ "<!-- layouts/videos/card.html:-->" | safeHTML }}
<div class="video-card">
  {{ with .Resources.GetMatch "thumbnail.*" }}
    {{ $image := .Resize "400x" }}
    <img src="{{ $image.Permalink }}" alt="{{ $.Title }}" />
  {{ else }}
    {{ warnf "No thumbnail found for video-card %s" .Title }}
  {{ end }}
  {{ with .Params.quote }}
    <div class="quote">{{ . }}</div>
  {{ else }}
    <div class="quote">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, mollitia.
    </div>
  {{ end }}
  <hr>
  {{ with .Params.guest }}
    <div class="name">{{ . }}</div>
  {{ end }}
  {{ with .Params.guestTitle }}
    <div class="title">{{ . }}</div>
  {{ end }}
</div>
