{{ "<!-- ra-theme/layouts/partials/testimonial.html -->" | safeHTML }}
<div class="quote-box">
  <!-- Resize image - note that we can optionally rotate it - needed
    because original might have EXIF rotation - so it is displayed
    correctly - BUT - the .Resize command strips in out! -->
  {{- with .Resources.GetMatch "profile.*" -}}
    {{- $sizing := "400x" -}}
    {{- with $.Page.Params.rotation -}}
      {{- $sizing = printf "%s r%d" $sizing . -}}
    {{- end -}}
    <img src="{{ (.Resize $sizing).Permalink }}" alt="{{ .Name }}" draggable="false">
  {{ else }}
    {{ warnf "No profile image found for %s" .File }}
    <img src="{{ ((resources.Get "images/anon-profile.png").Resize "200x").Permalink }}" alt="Photo missing." draggable="false">
  {{ end }}
  <div>
    {{ .Content }}
    <p class="name">
      {{ .Params.name }}
    </p>
    <p class="location">
      {{ .Params.location }}
    </p>
  </div>
</div>
