<footer>
  <!-- Left side -->
  <div>
    <a href="/"><img class="logo" src="/images/ra-logo-white.png"></a>
    <div class="tagline">
      Increasing access to careers in tech.
    </div>

    {{ partial "social-links" .Site.Params.socials }}
  </div>

  <!-- Right side -->
  <div class="footer-links">
    <div>
      <a href="/learn-more">Learn More</a>
      <a href="/partner">Partner</a>
      <a href="/donate">Donate</a>
      <a href="/about">About Us</a>
    </div>
    <div>
      <a href="mailto:{{ .Site.Params.email }}" target="_blank">Contact Us</a>
      <a href="/privacy">Privacy Policy</a>
      <a href="/news">News and Blog</a>
      <a href="/faq">FAQ</a>
    </div>
  </div>
</footer>
