<footer>
  <!-- Left side -->
  <div>
    <a href="/"><img class="logo" src="/images/ra-logo-white.png"></a>
    <div class="tagline">
      Increasing access to careers in tech.
    </div>

    <div class="social-links">
      <a href="https://twitter.com/ReskillAmerica" target="_blank">
        <img src="/images/twitter.svg">
      </a>
      <a href="https://www.instagram.com/reskillamericans/" target="_blank">
        <img src="/images/instagram.svg">
      </a>
      <a href="https://www.linkedin.com/company/reskill-americans" target="_blank">
        <img src="/images/linkedin-in.svg">
      </a>
      <a href="https://www.youtube.com/c/ReskillAmericans" target="_blank">
        <img src="/images/youtube.svg">
      </a>
      <a href="https://www.facebook.com/reskillamericans" target="_blank">
        <img src="/images/facebook-f.svg">
      </a>
    </div>
  </div>

  <!-- Right side -->
  <div class="footer-links">
    <div>
      <a href="/learn-more">Learn More</a>
      <a href="/partner">Partner</a>
      <a href="/donate">Donate</a>
      <a href="/about">About Us</a>
    </div>
    <div>
      <a href="mailto:info@reskillamericans.org">Contact Us</a>
      <a href="/privacy">Privacy Policy</a>
      <a href="/blog">Blog</a>
      <a href="/faq">FAQ</a>
    </div>
  </div>
</footer>
