<header>
  <a href="/"><img class="logo" src="/images/ra-logo-black.png"></a>
  <button id="menu-toggle"></button>
  <nav>
    <ul data-popout="false">
      <li><a href="/learn-more">Learn More</a></li>
      <li><a href="/partner">Partner</a></li>
      <li><a href="/donate">Donate</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/sign-in">Sign In</a></li>
      <li><a class="button-like standout" href="/enroll">Enroll</a></li>
  </nav>
</header>

<script type="module">
  import { main } from '/scripts/nav.js';

  main();
</script>
