<header>
  <a aria-label="Reskill Americans Logo" href="/">{{ partial "ra-logo.svg" }}</a>
  <button type="button" id="menu-toggle" aria-label="Menu"></button>
  <nav>
    <ul data-popout="false">
      <li><a href="/learn-more">Learn More</a></li>
      <li><a href="/partner">Partner</a></li>
      <li><a href="/donate">Donate</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/news">News</a></li>
      <!-- <li><a href="/sign-in" id="sign-in">Sign In</a></li> -->
      {{ if .Site.Params.enroll -}}
        <li><a class="button-like standout" href="/enroll">Enroll</a></li>
      {{- end }}
    </ul>
  </nav>
</header>

<script type="module">
  import { main } from '/scripts/nav.js';

  main();
</script>
