{{ "<!-- ra-theme/layouts/partials/team-member.html -->" | safeHTML }}
<div class="team-member-card" onclick="window.location.href = '/about/{{ .Params.slug }}';">
    <div>
      {{ with .Resources.GetMatch "profile.jpg" }}
        {{ $image := .Resize "400x" }}
         <img src="{{ $image.Permalink }}" alt="{{ $.Name }}">
      {{ end }}
      <h3>{{ .Params.jobTitle }}</h3>
    </div>
    <h2>{{ .Name }}</h2>
    <p>
      "{{ .Params.cardText }}"
    </p>
    <div class="social-wrapper" onclick="event.stopPropagation();">
      {{ partial "social-links" .Params }}
    </div>
</div>
